In [113]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [127]:
df = pd.read_csv('tg_1_.csv', sep=';', encoding='cp1251')
df

    температура  влажность  продажи
0            17         41       93
1            17         79       96
2            17         73       97
3            18         64      101
4            18         80      102
5            18         67      104
6            19         60      115
7            19         76      103
8            22         55      135
9            22         65      119
10           23         48      144
11           23         78      137
12           23         58      136
13           23         42      148
14           23         83      139
15           19         64      105
16           19         80      119
17           19         81      110
18           27         50      178
19           27         79      159
20           27         55      180
21           27         80      165
22           28         66      175

In [132]:
x = df.drop(columns={'продажи'})
y = df['продажи']
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.15, random_state=42)

In [133]:
lin_regr = LinearRegression()
lin_regr.fit(x_train, y_train)
prediction = lin_regr.predict(x_test)
print(prediction.round())

[170. 172. 170. 179.]