In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, mean_absolute_percentage_error

In [4]:


def get_ohe(train, categ):
    '''
    Функция для ohe_категоризации необходимых столбцов и последующего объединения с количественными столбцами

    На вход: выборка трайн или тест И названия категориальных столбцов
    '''
    temp_df = pd.DataFrame(
        data=ohe.transform(train[[categ]]), columns=ohe.get_feature_names_out()
    )
    data = pd.concat([train.reset_index(drop=True), temp_df], axis=1)
    data = data.drop(columns=categ, axis=1)
    return data

In [2]:
df = pd.read_csv('tg_3_.csv', sep=';', encoding='cp1251')
df

    цена  возраст  мощность     кузов
0   9800       19       163  не седан
1   1500       22        75  не седан
2   3600       15        69  не седан
3    650       28       102  не седан
4   2200       19       109  не седан
..   ...      ...       ...       ...
68   250       23       155  не седан
69   600       29        75     седан
70  3300       18       150  не седан
71  1600       26       122  не седан
72  8000       18       185  не седан

[73 rows x 4 columns]

In [3]:
x = df.drop(columns='цена')
y = df['цена']
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.15, random_state=42)

In [5]:
ohe = OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore')
ohe.fit(x_train[['кузов']])
ohe.fit(x_test[['кузов']])

x_train = get_ohe(x_train, 'кузов')
x_test = get_ohe(x_test, 'кузов')

In [10]:
lin_regr = LinearRegression()
lin_regr.fit(x_train, y_train)
prediction = lin_regr.predict(x_test)

In [17]:
r2 = round(r2_score(y_test, prediction), 2)
mae = round(mean_absolute_error(y_test, prediction), 2)

print(r2, mae)

0.39 3487.57